<div class="show-cocktail" style="background-image: linear-gradient(-225deg, rgba(0,50,75,0.3) 0%, rgba(0,15,30,0.3) 50%), url('<%= cl_image_path @cocktail.photo %>')">

  <div class="show-content text-center">
      <div class="show-header">
        <h1><%= @cocktail.name %></h1>
      </div>

      <div class="show-description">
        <% @cocktail.doses.each do |dose| %>
          <p><%= dose.description %> <%= dose.ingredient.name %></p>
        <% end %>
      </div>
  </div>

  <div class="show-links">
    <a href="" data-toggle="modal" data-target=".ingredients-modal">Add a new ingredient</a>
    <br>
    <br>
    <%= link_to "Back to list", cocktails_path %>
  </div>

  <div class="show-create-review">
    <a href="" data-toggle="modal" data-target=".review-modal">Add a new review</a>
  </div>
</div>

<h1 class="show-reviews-header text-center">Reviews</h1>

<div class="show-description">
        <% @cocktail.reviews.each do |review| %>
          <p><%= review.content %> <%= review.rating %></p>
        <% end %>
      </div>
  </div>



<div class="modal fade centered-modal ingredients-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render 'doses/new', dose:Dose.new, cocktail:Cocktail.find(params[:id]) %>
    </div>
  </div>
</div>

<div class="modal fade centered-modal review-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render 'reviews/new', review:Review.new, cocktail:Cocktail.find(params[:id]) %>
    </div>
  </div>
</div>
