<div class="form">
  <%= simple_form_for [cocktail, dose] do |f| %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
      <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
      <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>

<%= select_tag "timezone", options_from_collection_for_select(
      ActiveSupport::TimeZone.all.
        map { |tz| tz.tzinfo }.
        sort_by { |tzinfo| tzinfo.name },
      :name, :name),
      class: 'select2' %>
