<div class="form">
  <%= simple_form_for [cocktail, dose] do |f| %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
      <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
      <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
